body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, icomoon;
  position: relative;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
/* estilos de header ancho alto y display flexbox*/
.header {
  width: 100%;
  height: 68px;
  display: flex;
}
/* estilos de etiqueta nav dentro del header, ancho alto, posicion pegajosa, display flexbox y alineacion vertical de centro*/
.header .nav {
  width: 100%;
  height: 68px;
  position: fixed;
  display: flex;
  background-color: #ffffffd5;
  align-items: center;
}
/* estilos de etiqueta div dentro del nav, ancho de 30% que posteriormente se le cambia a buttons right*/
.button_left,
.buttons_right {
  display: flex;
  width: 30%;
}

/* estilos de etiqueta div dentro de button_left*/
.icon-chevron-left,
.icon-ellipsis-h {
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 1.4rem;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
  color: #767676;
}
.icon-chevron-left:hover {
  cursor: pointer;
}
/* estilos a todos los hijos del nav*/
.nav > * {
  display: flex;
  font-size: 1.5rem;
  text-align: center;
}
/* estilos al link de whatsapp*/
.link_nav {
  text-decoration: none;
  color: black;
}
/* estilos al contenedor de whats, share y save*/
.buttons_right {
  width: 70%;
  justify-content: flex-end;
}
/* margen izquierdo a los elementos hijos del contenedor derecho*/
.buttons_right > * {
  margin-left: 10px;
}
/* estilos para el icono de whatsapp*/
.button_whats {
  height: 40px;
  border-radius: 50%;
  background-color: rgb(37, 211, 102);
}
/* estilos para el icono de share*/
.button_share {
  height: 40px;
  border-radius: 4px;
  background-color: #efefef;
}
/*pading a los lados para el share*/
.icon-share-alt {
  padding: 0px 15px;
}
/*estilos para centrar, tamaño color para los botones derechos*/
.icon-whatsapp,
.icon-share-alt,
.save {
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  color: black;
}
/*estilos para centrar, tamaño color para los botones derechos*/
.save {
  height: 40px;
  border-radius: 4px;
  padding: 0px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #e60023;
}
/*color para el icono de whatsapp*/
.icon-whatsapp {
  color: white;
}

/*  Estilos para section de foto con sus textos y botones */

section {
  width: 100%;
  font-size: 0.9rem;
}
article {
  margin-top: 5px;
}
.article_desktop {
  display: none;
}
.image {
  width: 100%;
  margin: 0px;
}

.image img {
  width: 100%;
}
.contenedor_visit {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.sold {
  margin-left: 5px;
}

.sold a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.button_visit {
  width: 60px;
  height: 40px;
  margin: auto 0px;
  margin-right: 7px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
  background-color: #efefef;
}

.description {
  margin-left: 7px;
}

hr {
  border-top: 1px solid #ddd;
  width: 95%;
  margin: 0px auto;
}

.tittle {
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
  row-gap: 2px;
  padding: 0px 5px;
}

.gallery img {
  border-radius: 10%;
  cursor: pointer;
  width: 100%;
}
/*  nav_down   */
.contenedor_nav_down {
  height: 48px;
  width: 100%;
  position: relative;
}
.nav_down {
  height: 48px;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.863);
  bottom: 0px;
}

.ul_list_down {
  height: 48px;
  margin: 0px;
  padding: 0px 2px;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul_list_down a {
  height: 48px;
  width: auto;
  text-decoration: none;
  margin: 0px 5px;
  padding: 0px 1px;
}

.ul_list_down a:hover {
  background-color: rgba(128, 128, 128, 0.555);
  box-sizing: border-box;
  padding: 0px 30px;
  border-radius: 10px;
}
.ul_list_down li {
  height: 48px;
  list-style: none;
  color: #767676;
  margin-top: 5px;
  text-align: center;
}

.ul_list_down .home_list {
  color: black;
}
.home_list::before {
  content: "\e900";
  font-size: 1.5rem;
}
.video_list::before {
  content: "\f144";
  font-size: 1.6rem;
}
.not_list::before {
  content: "\e951";
  font-size: 1.6rem;
}
.saved_list::before {
  content: "\f2be";
  font-size: 1.6rem;
  color: blue;
}
@media screen and (min-width: 760px) {
  .sect_up {
    width: 600px;
    margin: 0px auto;
  }
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ul_list_down {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 760px) {
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .sect_up {
    width: 1016px;
    height: 821px;
    display: flex;
    margin: 0px auto;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #767676, inset 2px 2px 5px #767676;
  }
  .tittle {
    text-align: center;
    font-size: 1.5rem;
    margin: 15px 0px;
  }
  .image {
    width: 468px;
    margin: 15px;
  }

  .image img {
    border-radius: 20px;
  }
  .gallery {
    grid-template-columns: repeat(7, 1fr);
  }
  .contenedor_nav_down {
    display: none;
  }
  .article_mobile{
    display: none;
  }
  .article_desktop{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
    row-gap: 1rem;
    justify-items: center;
    align-items: center;
    /* background-color: burlywood; */
  }

  .contenedor_icon{
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-self: left;
    justify-items: center;
    align-items: center;
    font-size: 1.3rem;
  }
  .contenedor_icon .icon-ellipsis-h{
    color: black;  
  }
  .contenedor_buttons{
    display: flex;
    width: 250px;
    margin: 0px;
  }
  .list_mysaves{
    width: 150px;
    height: 40px;
    border-radius: 17px 0px 0px 17px;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 40px;
    cursor: pointer;
    margin: 0px;
    position: relative;
    background-color: #e2e2e2;
  }
  .list_mysaves::after{
    content: "\f078";
    position: relative;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    top: 1px;
    left: 25px;
    padding: 5px 10px;
  }
  .contenedor_buttons .save{
    margin: 0px;
    font-size: 0.8rem;
    border-radius: 0px 17px 17px 0px;
  }

  .contenedor_photo_comments{
    width: 100%;
    grid-row-start: 3;
    grid-column: 1 / span 2;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1.1rem;
  }

  .photos, .comments{
    margin: 0px 15px;
    cursor: pointer;
    font-weight: 600;
  }
  .cool{
    justify-self: left;
  }
  .photos:hover, .comments:hover{
    border-bottom: 5px black solid;
  }

  .tried{
    grid-row-start: 4;
    grid-column: 1 /  2;
  }
  .Add_photo{
    grid-row-start: 4;
    grid-column: 2 /  3;
    width: 112px;
    height: 48px;
    border-radius: 30px;
    text-align: center;
    line-height: 48px;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: #efefef;
  }

  .reference{
    grid-row-start: 6;
    grid-column: 1 /  3;
    justify-self: left;
  }

}
