/* Estilos del header */
Estilos del header * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
.header {
  border: black 0px solid;
  width: 100%;
  height: 80px;
  display: flex;
  margin: 0rem;
  align-items: center;
  padding: 0rem;
}

.nav{
  display: none;
}
/* left navigation styles */
.pinterestlogo {
  height: 4rem;
}
.pinterestlogo:hover {
  background-color: #efefef;
  border-radius: 50%;
}
.left-nav {
  display: flex;
  width: 25%;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  margin-left: 1rem;
}
.left-nav-item{
  width: 20%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 20px;
  background-color: #efefef;
}
.left-nav-item:active {
  height: 6rem;
  width: 8rem;
  color: white;
  background-color: black;
  border: none;
  border-radius: 30px;
  text-align: center;
  padding-top: 0rem;
}
/* Buscador central */
.buscador {
  width: 70%;
  height: 4rem;
  border-radius: 50px;
  align-items: center;
  margin: 1rem;
  padding-left: 3rem;
  background-color: #efefef;
}
/* right navigation styles */
.right-nav {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: green 0px solid;
  padding-left: 2rem;
}
.right-nav-button {
  height: 3rem;
  width: 3rem;
}
.right-nav-profile {
  height: 2.5rem;
  width: 2.5rem;
}
.right-nav-button:hover {
  background-color: #efefef;
}
.list-input {
  height: 2rem;
  width: 2rem;
  margin-right: 3rem;
  background-image: url(/PinterestClone-master/views/ImageView/image/flecha_abajo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Estilos del grid */

.main-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem 1rem 1rem;
}

.one {
  order: 1;
  width: 18%;
}

.two {
  order: 2;
  width: 18%;
}

.three {
  order: 3;
  width: 18%;
}

.four {
  order: 4;
  width: 20%;
}

.five {
  order: 5;
  width: 20%;
}

.image-container {
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  background-color: black;
}

.image-container-tall {
  width: 100%;
  height: 30rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  background-color: black;
}

.grid-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.grid-image:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .main-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem 1rem 1rem;
  }

  .one {
    order: 1;
    width: 18%;
  }

  .two {
    order: 2;
    width: 18%;
  }

  .three {
    order: 3;
    width: 18%;
  }

  .four {
    order: 4;
    width: 18%;
  }

  .five {
    order: 5;
    width: 18%;
  }
}

@media screen and (max-width: 980px) {
  .main-container {
    justify-content: center;
  }
  .one {
    order: 1;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .tablet-image {
    width: 20%;
    height: 100%;
  }
  .two {
    order: 2;
    width: 20%;
  }

  .three {
    order: 3;
    width: 20%;
  }

  .four {
    order: 4;
    width: 20%;
  }

  .five {
    order: 5;
    width: 20%;
  }
  .left-nav, .buscador,.right-nav,.list{
    display: none;
  }
  .header{
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
  }
  .header .nav {
    width: 100%;
    height: 48px;
    position: fixed;
    display: flex;
    background-color: #ffffffd5;
    align-items: center;
  }
  /* estilos de etiqueta div dentro del nav, ancho de 30% que posteriormente se le cambia a buttons right*/
  .button_left,
  .buttons_right {
    display: flex;
    width: 30%;
  }
  a{
    text-decoration: none;
    }
  /* estilos de etiqueta div dentro de button_left*/
  .icon-chevron-left,
  .icon-ellipsis-h {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 1.9rem;
    text-align: center;
    margin: auto 0px;
    margin-left: 5px;
    cursor: pointer;
    color: #767676;
  }
  .icon-chevron-left::before,.icon-ellipsis-h::before{
    display: block;
    height: 40px;
    line-height: 40px;
  }
  .icon-chevron-left:hover {
    cursor: pointer;
  }
  /* estilos a todos los hijos del nav*/
  .nav > * {
    display: flex;
    font-size: 1.5rem;
    text-align: center;
  }
  /* estilos al link de whatsapp*/
  .link_nav {
    text-decoration: none;
    color: black;
  }
  /* estilos al contenedor de whats, share y save*/
  .buttons_right {
    width: 70%;
    justify-content: flex-end;
  }
  /* margen izquierdo a los elementos hijos del contenedor derecho*/
  .buttons_right > * {
    margin-left: 10px;
  }
  /* estilos para el icono de whatsapp*/
  .button_whats {
    height: 40px;
    border-radius: 50%;
    background-color: rgb(37, 211, 102);
  }
  /* estilos para el icono de share*/
  .button_share {
    height: 40px;
    border-radius: 4px;
    background-color: #efefef;
  }
  /*pading a los lados para el share*/
  .icon-share-alt {
    padding: 0px 15px;
  }
  /*estilos para centrar, tamaño color para los botones derechos*/
  .icon-whatsapp,
  .icon-share-alt,
  .save {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    color: black;
  }
  .buttons_right .button_share .icon-share-alt{
    margin: auto 0px;
    line-height: 40px;
  }
  .icon-whatsapp::before{
    display: block;
    height: 40px;
    line-height: 40px;
  }
  /*estilos para centrar, tamaño color para los botones derechos*/
  .save {
    height: 40px;
    border-radius: 4px;
    padding: 0px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #e60023;
  }
  /*color para el icono de whatsapp*/
  .icon-whatsapp {
    color: white;
  }
  
  /* propiedades CSS a aplicar en ventanas de 980px o menos */
}

@media screen and (max-width: 480px) {
  .main-container {
    justify-content: center;
  }
  .tablet-image {
    width: 100%;
  }
  .one {
    order: 1;
    flex-direction: column;
    width: 40%;
    justify-content: center;
  }

  .two {
    order: 2;
    width: 40%;
  }

  .three {
    order: 3;
    width: 40%;
  }

  .four {
    order: 4;
    width: 40%;
  }

  .five {
    order: 5;
    width: 100%;
  }
  .last {
    width: 35rem;
    height: 30rem;
  }
  /* propiedades CSS a aplicar en ventanas de 480px o menos */
}
